<nav class="navbar navbar-expand-lg navbar-dark shadow-sm sticky-top">
  <div class="container">

    <a class="navbar-brand d-flex align-items-center" href="index.html" aria-label="VibeMatch főoldal">
      <span class="brand-logo-mark" aria-hidden="true">
        <img src="assets/Images/logo/logo.png" alt="">
      </span>
      <span class="brand-logo-text">VibeMatch</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ms-auto align-items-lg-center" id="authSection">

        <li class="nav-item">
          <a class="nav-link" href="index.html">Főoldal</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="eredmenyek.html?tipus=film">Filmek</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="eredmenyek.html?tipus=sorozat">Sorozatok</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="eredmenyek.html?tipus=konyv">Könyvek</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="eredmenyek.html?tipus=zene">Zenék</a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-action nav-profile ms-lg-3" href="profile.html">
            Profil
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-action nav-login" href="#" data-bs-toggle="modal" data-bs-target="#loginModal" id="loginLink">
            Bejelentkezem
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-action nav-register" href="#" data-bs-toggle="modal" data-bs-target="#registerModal" id="registerLink">
            Regisztrálok
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-action nav-logout" href="#" id="logoutLink" style="display:none">Kijelentkezés</a>
        </li>

      </ul>

    </div>

  </div>
</nav>
